h1 {
    text-align: center;
    margin: 2px;
    padding: 5px;
    color: yellow;
}

body {
    background-color: black;

}

div {
    width: 50%;
    background-color: yellow;
    box-shadow: 0 4px 8px;
    margin: auto;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;


}

iframe {
    width: 60%;
    height: 600px;
    border-radius: 8px;
    border: 2px solid yellow;
    margin: auto;
    display: block;
}

h1.school {
    color: black;
}